In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
file1 = pd.read_csv('file1.csv')

In [4]:
file2 = pd.read_csv('file2.csv')

In [5]:
file3 = pd.read_csv('file3.csv')

In [6]:
file1.shape

(4008, 11)

In [7]:
file2.shape

(996, 11)

In [8]:
file3.shape

(7070, 11)

In [9]:
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cols = [col_name.lower().replace(' ', '_') for col_name in file1.columns]

In [11]:
cols

['customer',
 'st',
 'gender',
 'education',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'number_of_open_complaints',
 'policy_type',
 'vehicle_class',
 'total_claim_amount']

In [12]:
file1.columns = cols

In [13]:
file1

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
file1 = file1.rename(columns={"st":"state"})

In [15]:
file1

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
cols2 = [col_name.lower().replace(' ', '_') for col_name in file2.columns]
cols3 = [col_name.lower().replace(' ', '_') for col_name in file3.columns]

In [17]:
file2.columns = cols2
file2.columns = cols3

In [18]:
file2 = file2.rename(columns={"st":"state"})
file3 = file3.rename(columns={"st":"state"})

In [19]:
file1.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [20]:
file2.head()

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [21]:
file3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [22]:
file1.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [23]:
data1=file1.columns

In [24]:
data1

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [25]:
data11=file1[data1]

In [26]:
data11

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
data = pd.concat([file1, file2, file3])

In [28]:
data

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,...,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,23405.987980,Bachelor,M,71941.0,73.0,0.0,Personal Auto,198.234764,Four-Door Car
7066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,3096.511217,College,F,21604.0,79.0,0.0,Corporate Auto,379.200000,Four-Door Car
7067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,8163.890428,Bachelor,M,0.0,85.0,3.0,Corporate Auto,790.784983,Four-Door Car
7068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,7524.442436,College,M,21941.0,96.0,0.0,Personal Auto,691.200000,Four-Door Car
7069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,2611.836866,College,M,0.0,77.0,0.0,Corporate Auto,369.600000,Two-Door Car

In [29]:
data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount            object
Customer                      object
State                         object
Customer Lifetime Value      float64
Education                     object
Gender                        object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Total Claim Amount           float64
Vehicle Class                 object
dtype: object

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   2067 non-null   object
 1   state                      2067 non-null   object
 2   gender                     1946 non-null   object
 3   education                  2067 non-null   object
 4   customer_lifetime_value    2059 non-null   object
 5   income                     2067 non-null   float64
 6   monthly_premium_auto       2067 non-null   float64
 7   number_of_open_complaints  2067 non-null   object
 8   policy_type                2067 non-null   object
 9   vehicle_class              2067 non-null   object
 10  total_claim_amount         2067 non-null   object
 11  Customer                   7070 non-null   object
 12  State                      7070 non-null   object
 13  Customer Lifetime Value    7070 non-null   float64
 14  Education                  7070 non-null   object
 15  Gender                     7070 non-null   object
 16  Income                     7070 non-null   float64
 17  Monthly Premium Auto       7070 non-null   float64
 18  Number of Open Complaints  7070 non-null   float64
 19  Policy Type                7070 non-null   object
 20  Total Claim Amount         7070 non-null   float64
 21  Vehicle Class              7070 non-null   object
dtypes: float64(7), object(15)
memory usage: 2.1+ MB

In [42]:
data.select_dtypes(include=np.number)

,income,monthly_premium_auto,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
0,0.0,1000.0,NaN,NaN,NaN,NaN,NaN
1,0.0,94.0,NaN,NaN,NaN,NaN,NaN
2,48767.0,108.0,NaN,NaN,NaN,NaN,NaN
3,0.0,106.0,NaN,NaN,NaN,NaN,NaN
4,36357.0,68.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
7065,NaN,NaN,23405.987980,71941.0,73.0,0.0,198.234764
7066,NaN,NaN,3096.511217,21604.0,79.0,0.0,379.200000
7067,NaN,NaN,8163.890428,0.0,85.0,3.0,790.784983
7068,NaN,NaN,7524.442436,21941.0,96.0,0.0,691.200000
7069,NaN,NaN,2611.836866,0.0,77.0,0.0,369.600000

In [43]:
data.select_dtypes(exclude=np.number)

,customer,state,gender,customer_lifetime_value,policy_type,vehicle_class,total_claim_amount,Customer,State,Education,Gender,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,NaN,Personal Auto,Four-Door Car,2.704934,NaN,NaN,NaN,NaN,NaN,NaN
1,QZ44356,Arizona,F,697953.59%697953.59%697953.59%697953.59%697953...,Personal Auto,Four-Door Car,1131.464935,NaN,NaN,NaN,NaN,NaN,NaN
2,AI49188,Nevada,F,1288743.17%1288743.17%1288743.17%1288743.17%12...,Personal Auto,Two-Door Car,566.472247,NaN,NaN,NaN,NaN,NaN,NaN
3,WW63253,California,M,764586.18%764586.18%764586.18%764586.18%764586...,Corporate Auto,SUV,529.881344,NaN,NaN,NaN,NaN,NaN,NaN
4,GA49547,Washington,M,536307.65%536307.65%536307.65%536307.65%536307...,Personal Auto,Four-Door Car,17.269323,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LA72316,California,Bachelor,M,Personal Auto,Four-Door Car
7066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PK87824,California,College,F,Corporate Auto,Four-Door Car
7067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TD14365,California,Bachelor,M,Corporate Auto,Four-Door Car
7068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UP19263,California,College,M,Personal Auto,Four-Door Car
7069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y167826,California,College,M,Corporate Auto,Two-Door Car

In [47]:
data

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QZ44356,Arizona,F,697953.59%697953.59%697953.59%697953.59%697953...,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AI49188,Nevada,F,1288743.17%1288743.17%1288743.17%1288743.17%12...,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WW63253,California,M,764586.18%764586.18%764586.18%764586.18%764586...,0.0,106.0,Corporate Auto,SUV,529.881344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GA49547,Washington,M,536307.65%536307.65%536307.65%536307.65%536307...,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LA72316,California,23405.987980,Bachelor,M,71941.0,73.0,0.0,Personal Auto,198.234764,Four-Door Car
7066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PK87824,California,3096.511217,College,F,21604.0,79.0,0.0,Corporate Auto,379.200000,Four-Door Car
7067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TD14365,California,8163.890428,Bachelor,M,0.0,85.0,3.0,Corporate Auto,790.784983,Four-Door Car
7068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UP19263,California,7524.442436,College,M,21941.0,96.0,0.0,Personal Auto,691.200000,Four-Door Car
7069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y167826,California,2611.836866,College,M,0.0,77.0,0.0,Corporate Auto,369.600000,Two-Door Car

In [48]:
data = pd.concat([file1, file2, file3])

In [49]:
del data["education"]

In [50]:
del data["number_of_open_complaints"]

In [51]:
data

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LA72316,California,23405.987980,Bachelor,M,71941.0,73.0,0.0,Personal Auto,198.234764,Four-Door Car
7066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PK87824,California,3096.511217,College,F,21604.0,79.0,0.0,Corporate Auto,379.200000,Four-Door Car
7067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TD14365,California,8163.890428,Bachelor,M,0.0,85.0,3.0,Corporate Auto,790.784983,Four-Door Car
7068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UP19263,California,7524.442436,College,M,21941.0,96.0,0.0,Personal Auto,691.200000,Four-Door Car
7069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y167826,California,2611.836866,College,M,0.0,77.0,0.0,Corporate Auto,369.600000,Two-Door Car